
@{
    ViewData["Title"] = "Utils";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Secciones útiles</h1>

<div>
    <a class="btn btn-primary" asp-controller="Sources" asp-action="Index">Centros de Procedencia de Personas</a>
</div>
<div class="ap-small-margin-top">
    <a class="btn btn-primary" asp-controller="Occupations" asp-action="Index">Ocupaciones de Personas en un Viaje</a>
</div>

