@model ArchivoDePasaportes.ViewModels.FlightFormViewModel
@{
    ViewData["Title"] = "FlightForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FlightForm</h1>

<form asp-action="Save">
    <div class="row ap-margin-top">
        <div class="form-group">
            <label asp-for="Ticket.OriginCountryId" class="control-label"></label>
            @Html.DropDownListFor(m => m.Ticket.OriginCountryId, new SelectList(Model.Countries, "Id", "Name"), "Elija país de origen", new { @class = "form-control ap-margin-right" })
        </div>
        <div class="form-group">
            <label asp-for="Ticket.DestinyCountryId" class="control-label"></label>
            @Html.DropDownListFor(m => m.Ticket.DestinyCountryId, new SelectList(Model.Countries, "Id", "Name"), "Elija país de origen", new { @class = "form-control ap-margin-right" })
        </div>
        <div class="form-group">
            <label asp-for="Ticket.DepartureDate" class="control-label"></label>
            <input asp-for="Ticket.DepartureDate" class="form-control" />
            <span asp-validation-for="Ticket.DepartureDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row ap-margin-top">
        <label asp-for="HasReturnDate" class="control-label ap-margin-right">¿Se tiene fecha de regreso?</label>
        <input asp-for="HasReturnDate" name="HasReturnDate" class="form-control ap-margin-right" />
        <input asp-for="ReturnDate" name="ReturnDate" class="form-control" />
    </div>    

    
    <div class="row ap-big-margin-top">
        <div class="ap-big-margin-right">
            <h3>Pasaportes que viajarán</h3>
            <div class="passports-aboard">
                @if (Model.PassportsToTravelDto != null)
                {
                    for (int i = 0; i < Model.PassportsToTravelDto.Count; i++)
                    {
                        <div class="row">
                            <input asp-for="PassportsToTravelDto[i].PassportNo" class="form-control ap-small-margin-right ap-small-margin-top" />
                            @Html.DropDownListFor(m => m.PassportsToTravelDto[i].OcupationId, new SelectList(Model.Occupations, "Id", "Name"), "Elija la ocupación ...", new { @class = "form-control ap-small-margin-top ap-small-margin-right" })
                            <button type="button" class="btn btn-danger remove-passport ap-small-margin-top" list-index ="@i">Eliminar</button>
                        </div>
                    }
                }
            </div>
            <button type="button" class="btn btn-secondary add-passport ap-small-margin-top">Añadir otro pasaporte</button>
        </div>
        
    </div>

    <button type="submit" class="btn btn-primary ap-big-margin-top">Guardar</button>
</form>




@section scripts{ 
    @{
        string optionsCS = "<option value=\"\">Elija la ocupación ...</option> \n";
        foreach (var item in Model.Occupations)
        {
            optionsCS += "<option value=\"" + item.Id + "\">" + item.Name + "</option> \n";
        }
        int passport_count = Model.PassportsToTravelDto == null ? 0 : Model.PassportsToTravelDto.Count;
    }

    <script>
        function htmlDecode(input) {
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes[0].nodeValue;
        }
        $(document).ready(function () {
            var options = htmlDecode('@optionsCS');
            $('input[name="ReturnDate"]').hide();
            var amountPassports = @passport_count;
            var addPassport = $('.add-passport');
            var passports = $('.passports-aboard');

            $('input[name="HasReturnDate"]').on('click', function () {
                if ($(this).prop('checked')) {
                    $('input[name="ReturnDate"]').fadeIn();
                }
                else {
                    $('input[name="ReturnDate"]').hide();
                }
            })

            $(addPassport).on('click', function () {
                var passportNoInput = '<input class="form-control ap-small-margin-right ap-small-margin-top" type="text" value="Número de Pasaporte" id="PassportsToTravelDto_' + amountPassports + '__PassportNo" name="PassportsToTravelDto[' + amountPassports + '].PassportNo" value="">';
                var selectHead = '<select class="form-control ap-small-margin-top ap-small-margin-right" data-val="true" data-val-required="The OcupationId field is required." id="PassportsToTravelDto_' + amountPassports + '__OcupationId" name="PassportsToTravelDto[' + amountPassports + '].OcupationId">';
                var removeButton = '<button type="button" class="btn btn-danger remove-passport ap-small-margin-top" list-index="' + amountPassports + '">Eliminar</button>';
                var fieldHTML = '<div class="row">' + passportNoInput + selectHead + options + '</select>' + removeButton + '</div>';
                amountPassports++;
                passports.append(fieldHTML);
            })

            $(passports).on('click', '.remove-passport', function () {
                var button = $(this);
                var index = button.attr("list-index");
                var hiddedPassport = '<input type="text" value="null" id="PassportsToTravelDto_' + index + '__PassportNo" name="PassportsToTravelDto[' + index + '].PassportNo" >';
                var hiddedOccupation = '<input type="text" value="null" id="PassportsToTravelDto_' + index + '__OcupationId" name="PassportsToTravelDto[' + index + '].OcupationId" >';
                button.parent('div').replaceWith('<div style="display: none;">' + hiddedPassport + hiddedOccupation + '</div>');
            })
        })
    </script>
}